.footer-component {

    margin-top: 25px;
    background-color: #333;
    color: whitesmoke;
    padding: 30px 30px 0px 30px !important;
   
    .copy-bg {
        background-color: rgba(0, 0, 0, 0.2);
    }

    .bi {
        font-size: 25px;
        color: whitesmoke;
    }

    a {
        color: whitesmoke !important;
    }
}